img{
    width: 400px;
    height: 400px;
    border: 4px dashed  rgb(94, 255, 0);
    border-radius: 29px
    ;
   }
p{
    border: 1px solid red;
    margin-left: 100px;
    margin-right: 100px;
    /* width: 50%; */
    float: left;
    }
