*{
   margin: 0;
   padding: 0; 
}
body{background-image: url('images/2023-toyota-supra.jpg ');
      background-repeat: no-repeat;
     background-size:cover;
     background-attachment: fixed; }
.header img{
    width: 130px;
    height: 130px;
}